<div class="content">
  <h1 class= "center ">Organizaciones</h1>

  <p>
    <a href="<%= newPath() %>">New</a>
  </p>
<% orgRows.forEach((row) => { %>
  <div class="columns">
    <% row.forEach((org) => { %>
      <div class="column is-4">
        <div class="card">
          <img src=<%= org.image %> class= "card-image">
            <div class="description">


              <a href="<%= showPath(org) %>" class="pink-link"> <h2><%= org.name %></h2></a>
              <a href="<%= editPath(org) %>">Edit</a>

            <form action="<%= deletePath(org) %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Eliminar" class="card-btn">
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<% }); %>
</div>
