<% organizations.forEach((organization) => { %>
  <p>
    <%= organization.name %><br>
    <%= organization.description %>
    <a href= "<%= showPath(organization) %>">Show</a>
  </p>
  <form action="<%= deletePath(organization) %>" method="POST">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" />
  </form>
<% }); %>
<a href="<%= newPath() %>">New</a>
