<div class="card">
  <header class="card-header">
    <div class="card-image is-16x9">
      <img src="<%= organization.image %>">
    </div>
    <p class="card-header-title is-centered">
      <%= organization.name %>
    </p>
  </header>
  <div class="card-content">
    <p>
      <%= organization.description %>
    </p>
    <a href=<%= indexPath() %> class="button">Todas las Organizaciones</a>
    <% if (projects.length) { %>
      <h4 class="title is-4">Proyectos</h4>
      <div class="columns wrap">
        <% projects.forEach((project) => { %>
          <div class="column is-4">
            <div class="card organization-inner-card">
              <header class="card-header">
                <div class="card-image is-1x1">
                  <img src="<%= project.image %>">
                </div>
                <p class="card-header-title is-centered">
                  <%= project.name %>
                </p>
              </header>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>

    <% if (users.length) { %>
      <h4 class="title is-4">Miembros</h4>
      <div class="columns wrap">
        <% users.forEach((user) => { %>
          <div class="column is-3">
            <div class="card organization-inner-card">
              <header class="card-header">
                <div class="card-image is-1x1">
                  <img src="<%= user.image %>">
                </div>
                <p class="card-header-title is-centered">
                  <%= user.firstName %> <%= user.lastName%>
                </p>
              </header>
              <div class="card-content is-centered">
                <%= user.email %>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>
  </div>
</div>
