<div class="content">
  <h1>Objetos Perdidos</h1>

  <p>
    <a href="<%= newPath() %>">New</a>
  </p>

  <h2> Si reconoces alguno de estos objetos, márcalo como tuyo y ve al CAi a reclamarlo </h2>
  <p> Todos los objetos listados aquí se encuentran físicamente en el cai, incluso si han sido reclamados por alguien, si siguen listados es porque no se han venido a retirar aún. </p>
  <% lostItems.forEach((lostItem) => { %>
    <p>
      <%= lostItem.description %><br>
      <img src="<%= lostItem.img %>" alt=""> <br>
      <%= lostItem.taken ? 'Reclamado por alguien' : 'No recuperado' %>
    </p>
    <p>
      <a href="<%= editPath(lostItem) %>">Edit</a>
    </p>

      <form action="<%= deletePath(lostItem) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
      <% if (!lostItem.taken) {%>
        <form action="<%= claimPath(lostItem) %>" method="post">
          <input type="submit" value="Reclamar">
        </form>
      <%} else if (currentUser && lostItem.userId === currentUser.id) { %>
        <form action="<%= unclaimPath(lostItem) %>" method="post">
          <input type="submit" value="¡Ups! No era mío">
        </form>
      <% } %>

  <% }); %>
</div>
