<h1 class="title is-1 center">Objetos Perdidos</h1>

<p>
  <a href="<%= newPath() %>">New</a>
</p>

<div class="subtitle is-5 center">
  Si reconoces alguno de estos objetos, márcalo como tuyo y ve al CAi a
  reclamarlo. Todos los objetos listados aquí se encuentran físicamente
  en el CAi. Incluso si han sido reclamados por alguien, si siguen
  listados es porque no se han sido retirados aún.
</div>

<div class="columns wrap">
  <% lostItems.forEach((lostItem) => { %>
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <div class="card-image">
            <img src="<%= lostItem.image %>">
          </div>
        </header>

        <div class="card-content is-centered">
          <p><%= lostItem.description %></p>
          <p>
            <%= lostItem.taken ? 'Reclamado por alguien' : 'No recuperado' %>
          </p>
        </div>
        <p>
          <a class="button" href="<%= editPath(lostItem) %>">Edit</a>
          <form class="form-to-text button" action="<%= deletePath(lostItem) %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Delete</button>
          </form>
          <% if (!lostItem.taken) {%>
            <form class="form-to-text button" action="<%= claimPath(lostItem) %>" method="post">
              <button>Reclamar</button>
            </form>
          <%} else if (currentUser && lostItem.userId === currentUser.id) { %>
            <form class="form-to-text button" action="<%= unclaimPath(lostItem) %>" method="post">
              <button>¡Ups! No era mío</button>
            </form>
          <% } %>
        </p>
      </div>
    </div>
  <% }); %>
</div>
