<h1 class="title is-1 center">Inventario</h1>

<p>
  <a href="<%= newPath() %>">New</a>
</p>

<% inventoryItems.forEach((item) => { %>
  <div class="card">
    <header class="card-header">
      <div class="card-image is-16x9">
        <img src="<%= item.image %>">
      </div>

      <p class="card-header-title is-centered">
        <%= item.name %>
      </p>
    </header>

    <div class="card-content is-centered">
      <p><%= item.description %></p>
      <p>Unidades existentes: <%= item.maxStock %></p>
      <p>Disponible: <%= item.currentStock %></p>
    </div>
    <p>
      <a class="button" href="<%= editPath(item) %>">Editar</a>
      <form class="form-to-text button" action="<%= deletePath(item) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
      </form>
      <form class="form-to-text button" action="<%= reservePath(item) %>" method="post">
        <% if (item.currentStock > 0) { %>
          <button>Reservar</button>
        <% } else { %>
          <button disabled>Reservar</button>
        <% } %>
      </form>
    </p>
  </div>
<% }); %>
