<h1 class="title is-1 center">This CAi</h1>

<div class="card is-round">
  <header class="card-header">
    <p class="card-header-title is-centered">
      Nuestra Misión
    </p>
  </header>
  <p class="card-content">
    Nuestra misión como CaiAPP es poder acercar todas las prestaciones
    del centro de almunos de ingeniería a todos y cada uno de los miembros
    de nuestra comunidad. Es importantísimo para nosotros poder darnos a
    conocer, a nosotros y a nuestras queridas organizaciones, a todos
    los alumnos por medio del canal mas accesible posible, especialmente
    en estos tiempos de la educación online. También, queremos con esto
    lograr que esta plataforma sea una instancia de acercamiento y contacto
    entre nosotros, por lo que siempre estaremos recibiendo sus mensajes.
  </p>
</div>

<div class="card is-round">
  <header class="card-header">
    <p class="card-header-title is-centered">
      Últimas Noticias
    </p>
  </header>
  <div class="card-content is-centered">
    <div class="columns">
      <% articles.forEach((article) => { %>
        <div class="column is-3">
          <div class="card is-round landing-card">
            <header class="card-header">
              <p class="card-header-title is-centered">
                <%= article.title %>
              </p>
            </header>
            <div class="card-content is-centered">
              <p><%= article.createdAt %></p>
              <a href="<%= showArticlePath(article) %>" class="button">Leer más</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>

<div class="card is-round">
  <header class="card-header">
    <p class="card-header-title is-centered">
      Próximos Eventos
    </p>
  </header>
  <div class="card-content is-centered">
    <div class="columns">
      <% events.forEach((event) => { %>
        <div class="column is-3">
          <div class="card is-round landing-card">
            <header class="card-header">
              <p class="card-header-title is-centered">
                <%= event.name %>
              </p>
            </header>
            <div class="card-content">
              <p><%= event.dateAndTime %></p>
              <a href="<%= showEventPath(event) %>" class="button">Ver Evento</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>
