<div class="content">
  <h1>Objetos Perdidos</h1>

  <p>
    <a href="<%= newPath() %>">New</a>
  </p>

  <% lostItems.forEach((lostItem) => { %>
    <p>
      <%= lostItem.description %><br>
      <%= lostItem.taken ? 'Recuperado' : 'No recuperado' %>
    </p>
    <p>
      <a href="<%= showPath(lostItem) %>">Show</a>
      <a href="<%= editPath(lostItem) %>">Edit</a>
    </p>
    <p>
      <form action="<%= deletePath(lostItem) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </p>
  <% }); %>
</div>
