<% projects.forEach((project) => { %>
 <p>
   <%= project.name %><br>
   <%= project.description %><br>
   <%= project.contactInfo%><br>

   <a href= "<%= "/projects/" + project.id + "/show"%>"> Show </a>
 </p>
   <form action="<%= deletePath(project) %>" method="POST">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
<% }); %>
 <a href=" <%= "/projects/new"%>"   > New </a>
