<div class="card">
  <header class="card-header">
    <div class="card-image is-16x9">
      <img src="<%= project.image %>">
    </div>
    <p class="card-header-title is-centered">
      <%= project.name %>
    </p>
  </header>
  <div class="card-content">
    <p>
      <%= project.description %>
    </p>
    Contacto: <%= project.contactInfo %>
    <h3 class="title is-3">Un proyecto de:</h3>
    <a href="<%= organizationPath %>" class="button">
      <%= organization.name %>
    </a>
  </div>
</div>
