<p>
<a href= <%= indexPath() %> class="button"> Proyectos </a>
</p>

  <h2><%= project.name %></h2>
  <p>
    <%= project.description %><br>
    Contacto: <%= project.contactInfo %>
  </p>
  <img src=<%= project.image %> alt="">
  <div>
    <h3>Un proyecto de:</h3>
    <a href="<%= organizationPath%>">
      <h4>
        <%= organization.name %>
      </h4>
    </a>
  </div>
</div>
