<% articles.forEach((article) => { %>
 <p>
   <h2><%= article.title %><br></h2>
   <%= article.content %><br>

   <a href= "<%= "/articles/" + article.id + "/show"%>"> Show </a>
 </p>
   <form action="<%= deletePath(article) %>" method="POST">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
<% }); %>
 <a href=" <%= "/articles/new"%>"   > New </a>
