<div class="content">
  <h1>Noticias</h1>

  <p>
    <a href="<%= newPath() %>">New</a>
  </p>

  <% articles.forEach((article) => { %>
    <h2><%= article.title %></h2>
    <p>
      <%= article.content %><br>
    </p>
    <p>
      <a href="<%= showPath(article) %>">Show</a>
      <a href="<%= editPath(article) %>">Edit</a>
    </p>
    <p>
      <form action="<%= deletePath(article) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </p>
  <% }); %>
</div>
