<% inventoryItems.forEach((item) => { %>
 <p>
   <%= item.name %><br>
   <%= item.description %><br>
   <%= item.maxStock %><br>
   <%= item.currentStock %>
   <a href= "<%= "/inventory-items/" + item.id + "/show"%>"> Show </a>
 </p>
 <%= deletePath(item)%>
   <form action="<%= deletePath(item) %>" method="POST">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
<% }); %>
 <a href=" <%= "/inventory-items/new"%>"   > New </a>
