<div class="content">
  <h1>Eventos</h1>

  <p>
    <a href="<%= newPath() %>">New</a>
  </p>

  <% events.forEach((event) => { %>
    <h2><%= event.name %></h2>
    <p>
      <%= event.dateAndTime %><br>
      <%= event.location %><br>
      <%= event.category %>
    </p>
    <p>
      <a href="<%= showPath(event) %>">Show</a>
      <a href="<%= editPath(event) %>">Edit</a>
    </p>
    <p>
      <form action="<%= deletePath(event) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </p>
  <% }); %>
</div>
