<h1 class="title is-1 center">Eventos</h1>

<% if (currentUser && member) { %>
  <p>
    <a href=<%= newPath() %> class="button">Nuevo Evento</a>
  </p>
<% }; %>

<div class="columns wrap">
  <% events.forEach((event) => { %>
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title is-centered">
            <%= event.name %>
          </p>
        </header>

        <div class="card-content is-centered">
          <p>
            [<%= event.category %>] <%= event.location %>
          </p>
          <p>
            <%= event.dateAndTime %>
          </p>
          <a class="button" href="<%= showPath(event) %>">
            Más información
          </a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
