<div class="content">
  <p>
  <a href=<%=indexPath()%> class="button"> Eventos </a>
  </p>
  <h2><%= event.name %></h2>
  <p>
    <%= event.dateAndTime %><br>
    <%= event.location %><br>
    <%= event.category %>
  </p>
  <h3>Organizado por:</h3>
  <h2><%= organization.name %></h2>
  <a href=<%= organizationPath() %> class="button">Visitar Organización</a>
  <h3> Asistentes </h3>
  <% if (attendees.length) { %>
    <% attendees.forEach((user) => { %>
      <%= `${user.firstName} ${user.lastName}`%>
      <br>
    <% }); %>
  <% } else { %>
    No hay ningún asistente de momento :(
  <% } %>
<% if (!currentUser || !attendeesIds.includes(currentUser.id)) { %>
<form class="form-to-text button" method="post">
  <button>Asistir</button>
</form>
<% } else {%>
  <form class="form-to-text button" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Ya no asistiré</button>
  </form>
<% } %>
</div>
