<div class="content">
  <h1>Mensajes</h1>

  <p>
    <a href="<%= newPath() %>">New</a>
  </p>

  <% messages.forEach((message) => { %>
    <h3><%= message.email %></h2>
    <p>
      <%= message.content %><br>
      <%= message.createdAt %>
    </p>
    <p>
      <a href="<%= showPath(message) %>">Show</a>
      <a href="<%= editPath(message) %>">Edit</a>
    </p>
    <p>
      <form action="<%= deletePath(message) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </p>
  <% }); %>
</div>
