<% messages.forEach((message) => { %>
  <p>
    <%= message.content %><br>
    <%= message.email %><br>
    <%= message.createdAt%><br>
    <a href= "<%= showPath(message) %>">Show</a>
  </p>
  <form action="<%= deletePath(message) %>" method="POST">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" />
  </form>
<% }); %>
<a href="<%= newPath() %>">New</a>