<div class="content">
  <% if (!user) {  // Generic message with no origin user %>
    <h2><%= message.email %> [no user]</h2>
    <p>
      <%= message.content %><br>
      <%= message.createdAt %>
    </p>
  <% } else if (!message){ %>
    <h2>You don't own this message </h2>
  } else { %>
    <h2>User: <%= user.firstName %> <%= user.lastName %></h2>
    <p>
      <%= message.content %><br>
      <%= user.email %><br>
      <%= message.createdAt %>
    </p>
  <% } %>
</div>
