<div class="content">
  <a href=<%= indexPath() %> class="button"> Mensajes </a>
  <% if (!user) {  // Generic message with no origin user %>
    <h2><%= message.email %> [no user]</h2>
    <p>
      <%= message.content %><br>
      <%= message.createdAt %>
    </p>
  <%} else { %>
    <h2>User: <%= user.firstName %> <%= user.lastName %></h2>
    <p>
      <%= message.content %><br>
      <%= user.email %><br>
      <%= message.createdAt %>
    </p>
  <% } %>
</div>
