<% users.forEach((user) => { %>
  <p>
    <%= user.email %><br>
    <%= user.firstName %><br>
    <%= user.lastName %><br>
    <%= user.phoneNumber %><br>
    <%= user.role %>
    <a href="<%= showPath(user) %>">Show</a>
    <a href="<%= editPath(user) %>">Edit</a>
  </p>
  <form action="<%= deletePath(user) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% }); %>
<a href="<%= newPath() %>">New</a>
