<div class="content">
  <h1>Nuevo Usuario</h1>
  <form method="post">
    <input type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>" required><br><br>

    <input type="text" id="firstName" name="firstName" placeholder="Primer Nombre" value="<%= user.firstName %>" required><br><br>

    <input type="text" id="lastName" name="lastName" placeholder="Apellido" value="<%= user.lastName %>" required><br><br>

    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="N° de teléfono, ej +56912312312" value="<%= user.phoneNumber %>" required><br><br>

    <input type="text" id="role" name="role" placeholder="Rol" value="<%= user.role %>" required><br><br>

    <input type="submit" value="Submit">
  </form>
</div>
