<div class="columns">
  <div class="column is-3">
    <div class="card profile-card">
      <header class="card-header">
        <div class="card-image is-1x1">
          <img src="<%= currentUser.image %>" alt="">
        </div>
      </header>
      <div class="card-content">
        <h3 class="title">
          <%= currentUser.firstName %> <%= currentUser.lastName %>
        </h3>
        <a href="<%= editPath %>" class="button">
          Editar Perfil
        </a>
        <p class="subtitle is-5">
          <%= currentUser.email %>
        </p>
        <p>
          <%= currentUser.phoneNumber %>
        </p>
        <p>
          Permisos: <%= currentUser.role %>
        </p>
      </div>
    </div>
  </div>

  <div class="column is-9">
    <div class="card is-round soft-profile-card invisible-profile-card">
      <div class="card is-round invisible-profile-card">
        <% if(organizations.length) { %>
          <header class="card-header">
            <div class="card-header-title">
              Has estado ocupado! Aquí están las organizaciones
              a las que perteneces.
            </div>
          </header>
          <div class="card-content">
            <div class="columns wrap">
              <% organizations.forEach((organization) => { %>
                <div class="column is-4">
                  <div class="card is-round profile-organization-sub-card invisible-profile-card">
                    <header class="card-header">
                      <div class="card-image is-1x1">
                        <img src="<%= organization.image %>" alt="">
                      </div>
                      <div class="card-header-title is-centered">
                        <%= organization.name %>
                      </div>
                    </header>
                    <div class="card-content is-centered">
                      <a href="<%= orgPath(organization) %>" class="button">
                        Visitar!
                      </a>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        <% } else { %>
          <header class="card-header">
            <div class="card-header-title">
              No perteneces a ninguna organización.
            </div>
          </header>
        <% } %>
      </div>

      <div class="card is-round invisible-profile-card">
        <% if(pastEvents.length) { %>
          <header class="card-header">
            <div class="card-header-title">
              Estos han sido tus eventos! 🔥
            </div>
          </header>
          <div class="card-content">
            <div class="columns wrap">
              <% pastEvents.forEach((event) => { %>
                <div class="column is-6">
                  <div class="card is-round profile-event-sub-card invisible-profile-card">
                    <header class="card-header">
                      <div class="card-header-title is-centered">
                        <%= event.name %>
                      </div>
                    </header>
                    <div class="card-content is-centered">
                      <a href="<%= eventPath(event) %>" class="button">
                        Ir al evento!
                      </a>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        <% } else { %>
          <header class="card-header">
            <div class="card-header-title">
              Vaya, no has asistido a ningún evento! 💯
            </div>
          </header>
        <% } %>
      </div>
    </div>
  </div>
</div>
