<div class="content white-background">
  <div class="columns">

      <div class="column is-5">
        <div id="profile-column">
          <div >
            <img src="<%= currentUser.image %>" class="pfp" alt="">
            <div class="center">

            <h2><%= currentUser.firstName %> <%= currentUser.lastName %></h2>
            <p>
              <%= currentUser.email %><br>
              <%= currentUser.phoneNumber %><br>
              Permisos: <%= currentUser.role %>
            </p>
            <h3>Mensajes Enviados al Cai:</h3>
            <% messages.forEach((message) =>{ %>
              <h5><%= message.createdAt %></h5>
              <p>
                <%= message.content %>
              </p>
            <% }); %>
          </div>
          </div>
        </div>
    </div>

    <div class="column is-7">
      <h2>Organizaciones a las que perteneces</h2>
      <div class="columns wrap">
        <% organizations.forEach((organization) => { %>
          <div class="column is-6">
            <div class="card orgcard">
              <img src=<%= organization.image %> class= "card-image" >
                <div class="description">
                  <a href="<%= orgPath(organization)%>">
                    <h2><%= organization.name %></h2>
                  </a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <div class="card-headers center">
        <h2 class="card-headers center"> Eventos que te interesan </h2>
      </div>
      <div class="columns wrap">
        <% upcomingEvents.forEach((event) => { %>
          <div class="column is-6">
            <div class="card eventcard center">
              <h5><%= event.dateAndTime %></h5>
              <h3><%= event.name %></h3>
              <a class="button" href="<%= eventPath(event) %>">Ir</a>
            </div>
          </div>
        <% }); %>
      </div>

      <div class="card-headers center">
        <h2 class="card-headers center"> Eventos que asististe </h2>
      </div>
      <div class="columns wrap">
        <% pastEvents.forEach((event) => { %>
          <div class="column is-6">
            <div class="card eventcard center">
              <h5><%= event.dateAndTime %></h5>
              <h3><%= event.name %></h3>
              <a class="button" href="<%= eventPath(event) %>">Ir</a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
